*{
    margin:0;
    padding:0;
}

.box1{
    display:flex;
    justify-content:center;

}

img{
    height:300px;
    margin-top:15vh;
    box-shadow: grey 8px 8px 10px;
    border-radius: 15px;
}

.box2{
    height:50px;
    width:50vw;
    margin-left:34vw;
    margin-top:5vh;
    text-shadow: grey 4px 2px 3px;
}